/*.kche-t58 .kche-template-item{display: flex;flex-direction: column;justify-content: center;}*/
/*.kche-t58 .kche-template-item h2,.kche-t58 .kche-template-item h2{border: 1px #000 solid;display: inline-block;padding: 10px;}*/
/*.kche-t58 .kche-template-item .kche-t58-line{display: none;}*/
