.kche-t176 .kche-t176-list .kche-t176-item{background:#000}
.kche-t176 .kche-t176-list .kche-t176-item-tit,.kche-t176 .kche-t176-list .kche-t176-item-des p{color:#fff;}
/*.kche-t176 h5,.kche-t58 .kche-template-item h2{border: 1px #000 solid;display: inline-block;padding: 10px;}*/
/*.kche-t176-content{text-align: center;}*/
/*.kche-t58 .kche-template-item .kche-t58-line,.kche-t176 .kche-t176-into{display:none}*/